<footer class="container-fluild m-auto bg-dark">
    <div class="row w-100 h-100 pt-5">
        <!-- col1 -->
        <div class=" col-md-3 col-sm-11 d-flex justify-content-center align-items-center">
            <div class="quickLink d-flex flex-column justify-content-center align-items-start" id="footerNav">
                <h3 class="quickLink ">Quick Link</h3>
                <a href="/" class="nav-link text-light">Home</a>
                <a href="#whyUs" class="nav-link text-light">About us</a>
                <a href="/terms" class="nav-link text-light ">Terms&Condition</a>
                <a  class="nav-link ">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Feedback</button>
                    
                    
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Your Feedback Matters!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="recipient-name">
                              </div>
                              <div class="mb-3">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary ">Send</button>
                          </div>
                        </div>
                      </div>
                    </div></a>
            </div>
        </div>
        <!-- col2 -->
        <div class="col-md-6  col-sm-11 text-center" id="footerNav">
            <h3 class="quickLink">Follow us on Social Network</h3>
            <a href="#" ><img src="https://img.icons8.com/material-rounded/26/4a90e2/facebook-new.png"/></a>
            <a href="#"><img src="https://img.icons8.com/material-outlined/26/4a90e2/instagram-new.png"/></a>
            <a href="#"><img src="https://img.icons8.com/material-outlined/26/4a90e2/pinterest.png"/></a>
            <a href="#"><img src="https://img.icons8.com/material-rounded/26/4a90e2/linkedin.png"/></a>
        </div>
        <!-- col3 -->
        <div class="col-md-3 col-sm-11  d-flex justify-content-center">
            <img src="/img/digicreation.svg" style="width: 50%;">
            <!-- <h4><span class="digicreation">DigiCreation</span></h4> -->
        </div>
    </div>
</div>
</footer>
<section class="copyrights conatiner-fluild bg-dark">
    <div class="copyContent text-white">
        <p>All right Reserved <i class="fa fa-copyright"> DigiCreation</i></p>
    </div>
</section>