<!-- <header class="bg-danger p-0 m-0 container-fluild" style="height: 2.5em;">
  <p>Some information in future</p>

</header> -->



<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="navBar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/digicreation.svg" alt="digicreation"  class="d-inline-block align-text-center px-2">
      <span class="digicreation"></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/service">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>