<%- layout('layout/boilerplate')%>
<div class="bgAbout">
    <div class="row w-100 p-0 m-0 text-center text-dark  service">
        <div class="serviceTitle">
            <h1 class="text-white"><span>&#x201C;</span>INNOVATION BEGINS HERE!<span>&#x201D;</span></h1>
            
        </div> 
        
    </div>

    
 
<!-- our mission -->
<div class="row w-100 row-cols-1 row-cols-md-2 g-4  container m-auto py-5">
    <div class="col-md-10 col-lg-5 col-sm-10 m-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title pt-2 pb-3">Our Mission</h5>
                <p class="card-text">Digicreation strives to bring you the best web design, graphic design, web development or marketing you will find in begowal, jalandhar or around the world. With that in mind, we do not believe in overcharging you for the work we provide. After discussing your needs we will provide you with a customized quote depending on your company's strategy. We understand budget constraints and will work with your company to deliver a final project that meets your budget.</p>
            </div>
        </div>
    </div>

    <div class="col-md-10 col-lg-5 col-sm-10 m-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title pt-2 pb-3">Our Vision</h5>
                <p class="card-text">Web designing and developing is challenging work. But, our team would love to take any dare. We ensure that, we will give our best to fullfil your demands.</p>
            </div>
        </div>
    </div>
</div>

</div>
<div class="aboutBanner">
    <div class="bgBanner h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-white"> Take you Business Online</h1>
        <a href="/contact" class="btn btn-outline-light mt-3 px-3">Contact</a>
    </div>
</div>
<!-- accordance -->
<div class="container " id="FAQ" style="padding: 3em 0 3em 0;">
    <h3 class="text-center" style="text-transform: uppercase;">frequently asked questions</h3>
    <div class="question w-100  container">
        <section class="  accordion d-flex jus-content-between">
            <p class=" w-100">Why small business needs a website?</p>
            <i class="fas fa-angle-down"></i></section>
            <div class="panel">
                <p>Internet is powerful tool nowadays.Internet is the plateform, where you can give a right information about yor business to your visitor. So, having a website mean you reach millons people on internet. </p>
            </div>

            <section class="  accordion d-flex jus-content-between">
                <p class=" w-100">How we work?</p>
                <i class="fas fa-angle-down"></i></section>
                <div class="panel">
                    <p>It's stright forward and smiple. Digicreation does everything according to customer requirments. All we need your business information and its product or service and rest of things leave on us, we will look after your business. </p>
                </div>

                <section class="  accordion d-flex jus-content-between">
                    <p class=" w-100">How long does it take to build a website?</p>
                    <i class="fas fa-angle-down"></i></section>
                    <div class="panel">
                        <p>Building a website is a complex and lengthy process, which involves many stages and the total time will be around 15 working days.</p>
                    </div>
                    <section class="  accordion d-flex jus-content-between">
                        <p class=" w-100">Who to pay for website?</p>
                        <i class="fas fa-angle-down"></i></section>
                        <div class="panel">
                            <p>There are many ways you can pay for your service such as paytm, direct bank transfer, Google pay etc. </p>
                        </div>
            
                        <section class="  accordion d-flex jus-content-between">
                            <p class=" w-100">How much will be cost for website or any design service?</p>
                            <i class="fas fa-angle-down"></i></section>
                            <div class="panel">
                                <p>Well, it's entirely depend on the time will it take to finish. Moreover, digicreation ensure you that, we will provide you best and affordable service. </p>
                            </div>
            
                            <!-- <section class="  accordion d-flex jus-content-between">
                                <p class=" w-100">Who are Digicreation?</p>
                                <i class="fas fa-angle-down"></i></section>
                                <div class="panel">
                                    <p>Lorem ipsum...</p>
                                </div> -->
            

    </div>
</div>

