<%- layout('layout/boilerplate')%>
<div class="whywebBG bg-light text-dark">
    <div class="row w-100 bg-danger m-0 h-50 py-5 d-flex justify-content-center align-items-center">
        <h1 class="text-center">Why does Business need an Adversiment??</h1>

    </div>
    <!-- second row with split left and right section -->
    <div class="split d-flex justify-content-center align-items-center  m-0 p-0 w-100">
        <div class="row w-75 m-0 text-dark px-5">
            <div class="col-md-10 col-12 pt-3">
                <h4>1. To let know your business presence</h4>
                <br>
                <p>As per surive 40%(in 2019) populations of india is activated on internet. No matter what your business is, even its small business, you just can't ignore 40% people of india. </p>
            </div>
            <div class="col-md-10 col-12">
                <h4>2. Easy to inform people and campany information</h4>
                <br>
                <p>What is basic business information? Think of a Yellow Pages ad. What are your hours? What do you do? How can someone contact you? What methods of payment do you take? Where are you located at? Now think of the WWW as a Yellow Pages ad where you have instant communication. What is today’s special? Today’s interest rate? Next week’s parking lot sale information? If you could keep your customer informed of every reason why they should do business with you, don’t you think you could do more business? You can on the WWW. </p>
            </div>
            <div class="col-md-10 col-12">
                <h4>3. To create your Network</h4>
                <br>
                <p>There is many way to create your network but having a website means reaching to millions at one click away or simple search on WWW to find your business information and latest product. </p>
            </div>
            <div class="col-md-10 col-12">
                <h4>4.Serve your Customers a 24 Hour Service</h4>
                <br>
                <p>If you’ve ever remembered too late or too early to call the another time-zone, you know the hassle. We’re not all on the same schedule. Business is worldwide but your office hours aren’t. Trying to reach Asia or Europe is even more frustrating. But Web pages serve the client, customer and partner 24 hours a day, seven days a week. No overtime either. You can customize information to match needs and collect important information that will put you ahead of the competition, even before you get into the office </p>
            </div>
            <div class="col-md-10 col-12">
                <h4>5.To Answer Frequently Asked questions</h4>
                <br>
                <p>Whoever answers the phones in your organization can tell you, their time is usually spent answering the same questions over and over again. These are the questions customers and potential customers want to know the answer to before they deal with you. Post them on an FAQ (frequently asked questions) page and you will have removed another barrier to doing business with you and free up some time for your harried phone operator. </p>
            </div>
            <div class="col-md-10 col-12">
                <h4>6.Allow Customers to give feedback</h4>
                <br>
                <p>You pass out the brochure, the catalog, the booklet. But it doesn’t work. No sales, no calls, no leads. What went wrong? Wrong color, wrong price, wrong market? Keep testing, the marketing books say, and you’ll eventually find out what went wrong. That’s great for the big boys with deep pockets, but who is paying the bills? You are and you don’t have the time nor the money to wait for the answer. With a Web page, you can ask for feedback and get it instantaneously with no extra cost. An instant email response can be built into Web pages and can get the answer while it’s fresh in your customer’s mind, without the cost and lack of response to business reply mail. </p>
            </div>
        </div>
        <!--This is row in second row Immportant for adver  -->
        <!-- <div class=" text-light row w-25 bg-dark h-100 m-0 p-0">
            <div class="col-md-12 col-12">
                <h2>Hello1</h2>
            </div>
            <div class="col-md-12 col-12">
                <h2>Hello2</h2>
            </div>
            <div class="col-md-12 col-12">
                <h2>Hello3</h2>
            </div>
            <div class="col-md-12 col-12">
                <h2>Hello4</h2>
            </div>
        </div> -->

     </div>
</div>
