 <%- layout('layout/boilerplate')%>
 <div class="blogNav">
     <div class="row w-100 h-100 m-0">
         <div class="col-md-2 col-10 d-flex align-items-center">
             <div class="sideNav w-100 ">
                <a class="nLink" href="#">Web Design</a>
                <a class="nLink" href="#">Color</a>
                <a class="nLink" href="#">Resources</a>
                <a class="nLink" href="#">Tool</a>
                <a class="nLink" href="#">Images</a>
                <a class="nLink" href="#">design</a>
            </div>
         </div>
         <!-- col 2nd -->
         <div class="col-md-10 col-10">
             <h2>Col 2</h2>
         </div>
     </div>

 </div>
