<%- layout('layout/boilerplate')%>


<!-- new design starts here -->
<div class="bgFull">
    <div class="heroText">
        <div class="heroContent">
            <h1 class="text-center">Your website is your online business card. We’ll make it easy to read—and stand out. 
            </h1>
            <a href="/contact">
            <button class="cssbuttons-io-button bg-primary"> Build
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </div>
              </button>
            </a>
        </div>
    </div>
</div>



<section class="container-fluild  w-100 info p-0">
    <section class="row w-100 h-100 m-0 p-0 d-flex  justify-content-end ">
        <section class="col-lg-6 col-md-10 col-sm-12 text-light bg-light d-flex flex-column align-items-center justify-content-center pt-3 m-0">
            <h1><span class="elegant">Elegant</span>.<span class="productive">Productive</span>.<span
                    class="simple text-success">Simple</span></h1>

            <p class="text-dark py-5 lead" style="word-spacing: 8px;"><span class="digicreation1">DigiCreation</span> is a well known for its modern design and top class service. Our vision is to provide best solution to our
                client in their business. Digicreation offers many serive related to design and web development. <br><br>
                We use latest technology to build website such as react, node.js, express.js and wordpress. We are the team of expert which look after project like own. We not only design "We build your business".</p>

        </section>
    </section>

</section>

<section class="container-fluid aboutUs">

    <div class="row w-100 m-auto  d-flex justify-content-evenly align-items-center">
        <div class="col-md-5 col-lg-2 col-sm-10 card1 " id="cards">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172"
                style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#d40055">
                        <path
                            d="M95.46224,17.12161c-0.66272,-0.00888 -1.32196,0.0972 -1.94844,0.31354l-43,7.68177c-0.04867,0.01057 -0.0972,0.02176 -0.14557,0.03359c-0.30131,0.06198 -0.59714,0.14811 -0.88463,0.25755c-0.1135,0.04494 -0.22554,0.09348 -0.33594,0.14557c-0.01496,0.0074 -0.02989,0.01487 -0.04479,0.0224c-0.11364,0.04862 -0.22568,0.10091 -0.33594,0.15677c-0.1103,0.05988 -0.21861,0.12337 -0.32474,0.19037c-0.08369,0.05753 -0.16584,0.11727 -0.24635,0.17917c-0.03003,0.01839 -0.05989,0.03705 -0.08958,0.05599c-0.1193,0.08878 -0.2351,0.18217 -0.34714,0.27995c-0.04939,0.04765 -0.09792,0.09618 -0.14557,0.14557c-0.08048,0.07242 -0.1589,0.1471 -0.23516,0.22396c-0.03401,0.03318 -0.06761,0.06677 -0.10078,0.10078c-0.05349,0.05863 -0.10576,0.11837 -0.15677,0.17917l-27.98359,33.49297l-0.0224,0.02239c-1.44436,1.2609 -2.16293,3.16028 -1.91484,5.06146v41.47708c-0.3969,2.02593 0.32591,4.10882 1.89245,5.45339l28.07318,32.80989c0.09656,0.11211 0.19741,0.22043 0.30234,0.32474c0.03317,0.03401 0.06677,0.06761 0.10078,0.10078c0.10472,0.09733 0.21304,0.19071 0.32474,0.27995c0.03324,0.03026 0.06684,0.06012 0.10078,0.08958c0.0333,0.0265 0.0669,0.05263 0.10078,0.07839c0.11995,0.08686 0.24322,0.16904 0.36953,0.24636c0.12399,0.07951 0.25099,0.15422 0.38073,0.22396c0.05185,0.02693 0.10412,0.05306 0.15677,0.07839c0.11394,0.05609 0.22972,0.10837 0.34714,0.15677c0.05563,0.02328 0.11163,0.04568 0.16797,0.06719c0.15812,0.05932 0.31878,0.11162 0.48151,0.15677c0.01119,0.00377 0.02238,0.0075 0.03359,0.0112c0.00373,0 0.00747,0 0.0112,0c0.17359,0.04554 0.34921,0.08291 0.5263,0.11198c0.08178,0.01672 0.16392,0.03165 0.24635,0.04479l42.09297,7.09948c2.03957,0.90817 4.42083,0.54989 6.10286,-0.91823l37.53542,-21.53359l0.06719,-0.0336c0.03003,-0.01839 0.05989,-0.03705 0.08958,-0.05599c0.16564,-0.09641 0.32634,-0.20105 0.48151,-0.31354c0.31167,-0.22076 0.60052,-0.47209 0.86224,-0.75026c0.13066,-0.14297 0.25399,-0.29247 0.36953,-0.44792c0.22971,-0.30422 0.42852,-0.63057 0.59349,-0.97422c0.07889,-0.16449 0.14989,-0.33265 0.21276,-0.50391l0.03359,-0.10078l14.66927,-39.7414c0.92106,-1.41087 1.17497,-3.15544 0.69427,-4.77032c-0.02115,-0.0676 -0.04355,-0.13479 -0.06719,-0.20156c-0.02728,-0.09782 -0.05715,-0.19491 -0.08958,-0.29114c-0.00716,-0.03366 -0.01463,-0.06725 -0.02239,-0.10078l-15.16198,-40.91719l-0.05599,-0.16797c-0.02499,-0.06392 -0.05112,-0.12738 -0.07839,-0.19036c-0.02151,-0.05634 -0.04391,-0.11234 -0.06719,-0.16797c-0.02522,-0.05641 -0.05135,-0.11241 -0.07838,-0.16797c-0.01833,-0.03378 -0.03699,-0.06738 -0.05599,-0.10078c-0.06581,-0.13335 -0.13678,-0.26409 -0.21276,-0.39193c-0.00373,-0.00374 -0.00746,-0.00747 -0.0112,-0.0112c-0.00743,-0.01122 -0.01489,-0.02242 -0.02239,-0.03359c-0.08413,-0.1343 -0.17379,-0.26505 -0.26875,-0.39193c-0.01112,-0.01499 -0.02232,-0.02992 -0.03359,-0.04479c-0.07867,-0.10355 -0.16083,-0.20439 -0.24636,-0.30234c-0.04034,-0.04544 -0.08141,-0.09024 -0.12317,-0.13437c-0.09007,-0.09651 -0.18344,-0.18988 -0.27995,-0.27995c-0.04414,-0.04177 -0.08894,-0.08283 -0.13438,-0.12318c-0.0443,-0.03425 -0.08909,-0.06785 -0.13437,-0.10078c-0.09096,-0.07755 -0.18432,-0.15224 -0.27995,-0.22396c-0.01117,-0.0075 -0.02237,-0.01497 -0.0336,-0.0224c-0.10581,-0.07457 -0.21412,-0.14553 -0.32474,-0.21276c-0.00373,-0.00374 -0.00746,-0.00747 -0.0112,-0.0112c-0.05541,-0.03455 -0.11141,-0.06815 -0.16796,-0.10078l-37.70339,-21.24245c-0.99037,-0.80193 -2.21967,-1.2511 -3.49375,-1.27656zM86.70547,30.30156l-8.09609,23.34766l-16.22579,-19.00286zM98.49688,31.29818l21.91432,12.3513l-30.21198,11.55625zM51.5776,39.65182l16.71849,19.58515h-33.08984zM125.19271,54.09714l-10.49245,36.72917l-23.65,-23.65zM134.55417,63.04427l7.43542,20.08906l-15.36354,7.68177zM34.65755,70.70364h37.26667l-13.54948,30.48073zM82.58464,74.93646l23.15729,23.1461l-36.38203,6.61797zM28.66667,81.6888l18.21901,23.42604l-18.21901,-1.98203zM138.55183,97.66823l-6.11407,16.56172l-6.60677,-10.2013zM107.62317,109.40364l-13.9526,29.70808l-22.36224,-23.1125zM118.32839,113.54688l7.41302,11.45546l-17.50235,10.04454zM36.69557,115.54011l15.68828,1.70208l-3.49375,12.54167zM62.56276,123.45703l16.50573,17.05442l-20.30183,-3.41536z">
                        </path>
                    </g>
                </g>
            </svg>
            <h2>Modren Design</h2>
            <p>A modern website can best be defined by looking at the individual attributes. </p>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-10 card2 " id="cards">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172"
                style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#d40055">
                        <path
                            d="M34.4,22.93333c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v34.4c0,6.33533 5.13133,11.46667 11.46667,11.46667h34.4c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-34.4c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667zM103.2,22.93333c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v34.4c0,6.33533 5.13133,11.46667 11.46667,11.46667h34.4c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-34.4c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667zM34.4,91.73333c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v34.4c0,6.33533 5.13133,11.46667 11.46667,11.46667h34.4c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-34.4c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667zM103.2,91.73333c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v34.4c0,6.33533 5.13133,11.46667 11.46667,11.46667h34.4c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-34.4c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667z">
                        </path>
                    </g>
                </g>
            </svg>
            <h2>Interactive</h2>
            <p>It allows users to have more personalized experience beyond just browsing website.</p>
        </div>
        <div class="col-md-5 col-lg-2 col-sm-10 card3" id="cards">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172"
                style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#d40055">
                        <path
                            d="M28.66667,22.93333c-9.43116,0 -17.2,7.76884 -17.2,17.2v74.53333c0,4.40655 1.74365,8.40878 4.51276,11.46667h-15.97943c0,9.50013 7.69987,17.2 17.2,17.2h22.93333v-17.2v-5.73333h-11.46667c-3.23951,0 -5.73333,-2.49383 -5.73333,-5.73333v-74.53333c0,-3.23951 2.49383,-5.73333 5.73333,-5.73333h114.66667v-11.46667zM103.2,45.86667c-6.32387,0 -11.46667,5.1428 -11.46667,11.46667v5.73333h11.46667v-5.73333h57.33333v74.53333h-22.93333c0,3.1648 -2.56853,5.73333 -5.73333,5.73333c-3.1648,0 -5.73333,-2.56853 -5.73333,-5.73333h-5.73333v17.2h40.13333c6.32387,0 11.46667,-5.1428 11.46667,-11.46667v-80.26667c0,-6.32387 -5.1428,-11.46667 -11.46667,-11.46667zM63.06667,74.53333c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v57.33333c0,6.33533 5.13133,11.46667 11.46667,11.46667h34.4c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-57.33333c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667zM63.06667,86h34.4v57.33333h-11.46667c0,3.1648 -2.65453,5.73333 -5.73333,5.73333c-3.0788,0 -5.73333,-2.56853 -5.73333,-5.73333h-11.46667z">
                        </path>
                    </g>
                </g>
            </svg>
            <h2>Responsive</h2>
            <p>
                Responsive web design is an approach on mobile, desktop, tablet, etc. </p>
        </div>
        <div class="col-md-5 col-lg-2 col-sm-10 card4 " id="cards">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172"
                style=" fill:#000000;">
                <g transform="translate(11.18,11.18) scale(0.87,0.87)">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#d40055">
                            <path
                                d="M17.2,0c-9.4993,0 -17.2,7.7007 -17.2,17.2c0,9.4993 7.7007,17.2 17.2,17.2c9.4993,0 17.2,-7.7007 17.2,-17.2c0,-9.4993 -7.7007,-17.2 -17.2,-17.2zM63.06667,0c-9.4993,0 -17.2,7.7007 -17.2,17.2c0,9.4993 7.7007,17.2 17.2,17.2c9.4993,0 17.2,-7.7007 17.2,-17.2c0,-9.4993 -7.7007,-17.2 -17.2,-17.2zM108.93333,0c-9.4993,0 -17.2,7.7007 -17.2,17.2c0,9.4993 7.7007,17.2 17.2,17.2c9.4993,0 17.2,-7.7007 17.2,-17.2c0,-9.4993 -7.7007,-17.2 -17.2,-17.2zM17.2,45.86667c-9.4993,0 -17.2,7.7007 -17.2,17.2c0,9.4993 7.7007,17.2 17.2,17.2c9.4993,0 17.2,-7.7007 17.2,-17.2c0,-9.4993 -7.7007,-17.2 -17.2,-17.2zM63.06667,45.86667c-9.4993,0 -17.2,7.7007 -17.2,17.2c0,9.4993 7.7007,17.2 17.2,17.2c9.4993,0 17.2,-7.7007 17.2,-17.2c0,-9.4993 -7.7007,-17.2 -17.2,-17.2zM106.4138,48.78932c-0.172,0 -0.34311,-0.00134 -0.51511,0.05599c-4.01333,0.22933 -7.45736,3.32399 -8.43203,7.22266l-0.16797,1.20938c-0.11467,0.344 -0.12317,0.68621 -0.12317,1.03021v6.08047v32.04843v24.99376v3.38177c0,0 -6.02045,-4.52485 -14.79245,-8.30886c-1.08933,-0.51599 -2.23511,-0.92271 -3.38177,-1.20937c-0.172,-0.05733 -0.3991,-0.11198 -0.57109,-0.11198l-0.45912,-0.45911c-0.57333,0.05733 -1.14129,0.05464 -1.65729,0.11198c-0.45867,-0.05733 -0.91867,-0.05599 -1.37735,-0.05599c-11.00799,0 -13.70266,8.20673 -14.33333,11.13073c-0.11466,0.63066 -0.17916,1.03021 -0.17917,1.03021l14.79245,8.65599l14.16536,17.2h0.11198l2.35156,2.86667l2.58672,3.2138c2.69467,3.268 5.78574,5.89771 9.28308,7.96171c4.816,2.86667 10.20399,4.70626 15.82265,5.05026c0.86,0.11467 1.65954,0.11198 2.51953,0.11198h24.7138c8.02667,0 15.19558,-4.01064 19.49558,-10.14531c2.86667,-3.956 4.52396,-8.83471 4.52396,-14.10938v-40.02136c0,-6.36399 -4.81421,-11.57775 -11.06354,-12.09374l-29.12578,-3.60573h-0.11198l-13.30313,-1.6125l-0.11198,-2.35156l-1.14219,-22.87734l-0.34714,-6.87552c0,-0.63067 -0.0533,-1.20714 -0.16797,-1.78047c-0.11467,-0.45867 -0.23112,-0.90882 -0.40312,-1.31016c-1.26133,-3.66933 -4.70133,-6.4276 -8.6,-6.4276zM17.2,91.73333c-9.4993,0 -17.2,7.7007 -17.2,17.2c0,9.4993 7.7007,17.2 17.2,17.2c9.4993,0 17.2,-7.7007 17.2,-17.2c0,-9.4993 -7.7007,-17.2 -17.2,-17.2zM63.06667,91.73333c-9.51733,0 -17.2,7.68267 -17.2,17.2c0,5.27467 2.3538,9.97197 6.08047,13.06797c0.57333,-2.98133 1.94754,-6.93509 5.33021,-10.60442c4.87333,-5.27467 12.26978,-8.02622 21.95911,-8.14089c-2.29333,-6.708 -8.65912,-11.52266 -16.16979,-11.52266z">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>Unique Design</h2>
            <p>Simple and Convenient tools so that it becomes easy for the users to operate your website. </p>
        </div>

    </div>

</section>


<section class="container-fluild w-100 displayDesign my-5" id="displayDesign">
    <section class="row w-100 h-100 m-0 p-0 d-flex justify-content-evenly">
        <section class="post1 col-md-5 col-lg-5 col-sm-11  h-100  d-flex  flex-column justify-content-center align-items-center">
            <div class="post">
                <h2 class="text-white">Why do business need a website?</h2>
                <a href="/whywebsite" class="btn btn-primary px-4">More</a>
            </div>

        </section>

        <section class="col-md-5 col-sm-11 col-lg-5 h-100 post2 d-flex flex-column justify-content-center align-items-center ">
            <div class="post">
                <h2 class="text-white">Why does Business need an Adversiment?</h2>
                <a href="/adver" class="btn btn-primary px-4">More</a>
            </div>
        </section>
    </section>
</section>



<section class="container-fluild logoDisplay">
    <div class="row w-100 h-100">
        <div class="col-md-12 col-sm-12">
            <h3>Need a logo or business cards Design?<span style="display: block; font-size: .8em;">We have got idea for
                    you.</span></h3>
            <a class="btn btn-outline-dark" href="/product">Have a look</a>
        </div>
    </div>
</section>





<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner bg-light">
        <div class="carousel-item active ">
            <div class="text-dark d-flex justify-content-center align-items-center" style="width: 100%;height: 70vh;">
                <p class="lead"><span>&#x201C;</span>Digicreation team took my businsess to next level. Good to have service from best team in jalandhar.<span>&#x201D;</span></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-dark d-flex justify-content-center align-items-center" style="width: 100%;height: 70vh;">
                <p class="lead"><span>&#x201C;</span>Expert team with plenty of experience in web development and web desing field. Glad to have service fro them.<span>&#x201D;</span> </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-dark d-flex justify-content-center align-items-center" style="width: 100%;height: 70vh;">
                
                <p class="lead"><span>&#x201C;</span>Best service in the jalandhar, helped me to get my first ever website with affordable price.<span>&#x201D;</span></p>
            </div>
        </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
</div>