<%- layout('layout/boilerplate')%>
<div class="products container ">
    <div class="row w-100 p-0 m-0 text-center text-dark bg-info service">
        <div class="serviceTitle">
            <h1>Our Work</h1>
            <p class="w-75 m-auto lead">We are the team of creative people and we are the best web solution service provider in the are.Our company is committed to deliver best service to our client. We will be ensured that, you would get what you are looking for. </p>
        </div> 
    </div>

     <!-- card group -->
     <div class="row row-cols-1 row-cols-md-2 g-4 container m-auto py-5 " id="productSection">
        
        <div class="col-md-6 col-lg-5 col-sm-10">
          <div class="card">
            <img src="/img/eventsking.png" alt="businessCardDesign" class="img-fluid">
            
            
          </div>
        </div>

        <div class="col-md-6 col-lg-5 col-sm-10">
          <div class="card ">
            
            <div class="card">
                <img src="/img/eventsking.png" alt="businessCardDesign" class="img-fluid">
                
                
              </div>
            
          </div>
        </div>
        <div class="col-md-6 col-lg-5 col-sm-10">
          <div class="card">
            
            <div class="card">
                <img src="/img/eventsking.png" alt="businessCardDesign" class="img-fluid">
                
                
              </div>
            
          </div>
        </div>
        <div class="col-md-6 col-lg-5 col-sm-10">
            <div class="card">
                <div class="card">
                    <img src="/img/eventsking.png" alt="businessCardDesign" class="img-fluid">
                    
                    
                  </div>
              
            </div>
          </div>
  
          <div class="col-md-6 col-lg-5 col-sm-10">
            <div class="card ">
              
                <div class="card">
                    <img src="/img/eventsking.png" alt="businessCardDesign" class="img-fluid">
                    
                    
                  </div>
              
            </div>
          </div>
          <div class="col-md-6 col-lg-5 col-sm-10">
            <div class="card">
              
                <div class="card">
                    <img src="/img/eventsking.png" alt="businessCardDesign" class="img-fluid">
                    
                    
                  </div>
              
            </div>
          </div>
        </div>
  </div>
</div>